/* CSS Reset */

* { padding: 0; margin: 0; }

/* Typography */

body{
  background: #1f2021;
  color: #fff;
  font-family: 'Prompt', sans-serif;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 35px;
  font-weight: 200;
}

h2{
  font-size: 34px;
  font-weight: 200;
}

h3{
  font-size: 30px;
  font-weight: 300;
}

p {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}

a{
  color: inherit;
  text-decoration: none;
}

.text-button{
  box-sizing: border-box;
  padding: 10px 10px;
  background: #df6b00;
  font-weight: 500;
  transition: .05s ease-in;

}

.text-button:hover{
      transform: scale(1.1);
   transition: .05s ease-in;
}

.button{
  padding: 10px 25px;
  margin: 10px 0;
  background: #df6b00;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
   transition: .05s ease-in;
}

.button:hover{
  transform: scale(1.1);
}

.grey-button{
  background: #232323;
}

.content{
  box-sizing: border-box;
  padding: 30px;
}

.flex{
  display: flex;
}

.section{
  width: 100%;
  box-sizing: border-box;
  padding: 60px 13%;
}

.box{
  padding-right: 5%;
}

@media screen and (max-width: 800px){
  h1{
    font-size: 25px;
  }

  h2{
    font-size: 23px;
  }

  h3{
    font-size: 22px;
  }

  p{
    font-size: 16px;
    line-height: 35px;
  }

  .button{
    font-size: 20px;
  }

  .flex{
    display: block;
  }

  .section{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 5%;
  }
}

/* Header */

.logo{
  width: 133px;
  height: auto;
}

header{
  width: 100%;
  height: auto;
  padding: 60px 5% 0 5%;
  box-sizing: border-box;
}

header > ul{
  list-style: none;
  font-weight: 400;
  float: right;
  padding-top: 20px;
}

header > ul > li{
  display: inline-block;
  margin-right: 20px;
}

header > ul > li:last-of-type{
  margin-right: 0;
}

@media screen and (max-width: 700px){
  header > ul{
    display: none;
  }
}

/* Nav & Overlay */

.knoware-navbar{
  font-family: 'Prompt', sans-serif;
  width: 100vw;
  max-width: 100%;
  height: auto;
  padding: 8px 30px;
  box-sizing: border-box;
  background: #0d0d0d;
  color: #fff;
  font-weight: 200;
  position: fixed;
  z-index: 999;
}

.knoware-navbar a{
  text-decoration: none;
  color: inherit;
}

.knoware-nav-logo{
  height: 32px;
  width: auto;
  z-index: 3;
  position: relative;
}

.knoware-mobile{
  display: none;
}

.knoware-nav-wrapper{
  font-size: 15px;
  padding-top: 7px;
  float: right;
}

.knoware-nav-wrapper > ul{
  list-style: none;
  display: inline-block;
}

.knoware-nav-wrapper ul li{
  display: inline-block;
}

.knoware-nav > li{
  padding-right: 30px;
  vertical-align: middle;
}

.knoware-nav > li:last-of-type{
  padding-right: 35px;
}

.knoware-nav-social > li{
  padding-right: 35px;
  vertical-align: middle;
}

.knoware-nav-social > li:last-of-type{
  padding-right: 0;
}

.knoware-nav-social > li > span{
  font-size: 30px;
}

/* Mobile Overlay */


.knoware-overlay{
  font-family: 'Prompt', sans-serif;
  width: 100vw;
  height: 100vh;
  background: #0d0d0d;
  z-index: 4;
  color: #fff;
  font-weight: 200;
  position: fixed;
  opacity: 0;
  transform: translate3d(0,120%,0);
  transition: opacity .5s ,transform .9s;
}

.knoware-overlay-active{
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity .5s ,transform .9s;
}

.knoware-mobile-nav{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
}

.knoware-mobile-nav > li{
  font-size: 1.5em;
  line-height: 3em;
  text-align: center;
  font-family: 'Prompt', sans-serif;
}

.knoware-mobile-nav a{
  text-decoration: none;
  color: inherit;
}

.knoware-mobile-close{
  font-size: 30px;
  position: absolute;
  top: 1rem; right: 2rem;
}

@media screen and (max-width: 1000px){
  .knoware-navbar{
    padding: 4px 0;
  }

  .knoware-nav-logo{
    height: 30px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .knoware-nav-wrapper{
    display: none;
  }

  .knoware-mobile{
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
    box-sizing: border-box;
  }

  .knoware-mobile h3{
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    float: left;
    color: #fff;
    margin: 0 0 0 0;
    padding-top: 3px;
  }

  .knoware-mobile span{
    font-size: 20px;
    float: right;
    color: #fff;
    margin: 0 0 0 0;
  }
}

/* Hero */

.register-button {
  position: fixed;
  width: 85px;
  right:50px;
  top:70px;
  z-index: 10;
}

.section.hero{
  padding: 100px 5%;
}

.hero > .box:nth-of-type(1){
  flex-basis: 50%;
}

.hero > .box:nth-of-type(2){
  flex-basis: 50%;
}

.hero p{
  margin-top: 0;
}

@media screen and (max-width: 800px){
  .section.hero{
    padding: 30px 5%;
  }

  .hero p{
    margin-top: 30px;
  }
}

/* Slide */

.slide{
  width: 100%;
  height: 650px;
  background: #0e0f10;
  background-size: cover;
}

.slide ul li {
  display: block;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide ul li p {
  font-family: 'Prompt', sans-serif;
  width: 240px;
  padding: 10px;
  background-color: rgba(10,10,10,0.9);
  text-align: left;
  bottom: 40px;
  margin-left: 5%;
  font-weight: 400;
  text-shadow: 0px 1px 1px #fff;
}

@media screen and (max-width: 800px){
  .slide{
    height: 320px;
  }
  .slide ul li {
    height: 320px;
  }
}

/* Section Two */

.two{
  padding-right: 0;
}

.two > .box:nth-of-type(1){
  flex-basis: 60%;
}

.two > .box:nth-of-type(2){
  flex-basis: 40%;
  background: #f2f2f2;
}

.two p{
  box-sizing: border-box;
  padding-right: 25%;
}

@media screen and (max-width: 800px){
  .two p{
    padding-right: 0;
  }
}

/* Section Three */

.three > .box{
  flex-basis: 33.33333%;
}

@media screen and (max-width: 800px){
  .three p{
    margin-bottom: 30px;
  }

  .three > .box:last-of-type p{
    margin-bottom: 0;
  }
}

/* Section Four */

.four{
  padding-right: 0;
}

.vertical{
  flex-direction: column;
}

.vertical:first-of-type > div:first-of-type{
  margin-bottom: 70px;
}

.four > .box:nth-of-type(1){
  flex-basis: 40%;
}

.four > .box:nth-of-type(2){
  flex-basis: 60%;
}

.vertical:last-of-type > div{
  flex: 1 1 auto;
}

.small-slide{
  width: 100%;
  height: 300px;
  background: #0e0f10;
}

.four p{
  margin-top: 20px;
}

@media screen and (max-width: 800px){
  .four{
    padding-right: 5%;
  }

  .four > .box:nth-of-type(1){
    margin-bottom: 30px;
  }

  .small-slide{
    height: 320px;
  }

}

/* Section Five */

.grid-wrapper{
  width: 100%;
  margin-top: 30px;
}

.grid-wrapper:after {
    content:"";
    clear:both;
    display:block;
}

.grey-overlay {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grey-overlay:hover {
  -webkit-filter: grayscale(0%);
   filter: grayscale(0%);
}


.grid-item{
  width: 22%;
  padding-top: 22%;
  background: rgb(164, 140, 175);
  margin-right: 17px;
  margin-bottom: 17px;
  display: inline;
  float: left;
  position: relative;
   transition: .05s ease-in;
   background-size: cover;
}

.grid-item:hover{
  transform: scale(1.05);
   transition: .05s ease-in;
}


.grid-item:empty {
  height: 0;
  border: none;
  padding-top: 0;
}

.grid-item > h3{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.add-job{
  background: none;
  color: #bfbfbf;
}

.add-job-sign{
  font-size: 40px;
}

@media screen and (max-width: 700px){
  .grid-wrapper{
    width: 100%;
    text-align: center;
  }
  .grid-item{
    width: 43%;
    padding-top: 43%;
  }
}

/* Section Six */

.six > .box{
  flex-basis: 50%;
}

/* Section Seven */

.seven{
  text-align: center;
}

.seven p{
  display: block;
  width: 70%;
  margin: 60px auto 0 auto;
}

@media screen and (max-width: 800px){
  .seven p{
    width: 90%;
  }
}

/* Popup */

.popup-wrapper{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  visibility: hidden;
  z-index: 999;
  transition: .5s ease-in-out;
  opacity: 0;
}

.popup{
  width: 85%;
  height: 75vh;
  background: #111111;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.popup-wrapper:target{
  visibility: visible;
  opacity: 1;
  transition: .5s ease-in-out;
}

.popup div{
  flex-basis: 50%;
}

.popup-img{
  height: 100%;
  background: blue;
}

.popup-content{
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.popup-content p{
  overflow-y: scroll;
}

.share-link{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
}

.popup-close{
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media screen and (max-width: 800px){
  .popup{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
  }

  .popup > .popup-img{
    flex-basis: 30%;
    height: auto;
  }

  .popup > .popup-content{
    flex-basis: 70%;
    height: auto;
  }

  .popup-close{
    color: #fff;
    font-size: 30px;
    position: relative;
    top: 0;
    padding-right: 10px;
    display: block;
    text-align: right;
  }
}

@media screen and (max-width: 500px){
  .popup > .popup-img{
    flex-basis: 20%;
    height: auto;
  }

  .popup > .popup-content{
    flex-basis: 80%;
    height: auto;
  }
}

/* Slide */

.unslider{
  position: relative;
  background: #0e0f10;
}

.unslider-nav{
  position: absolute;
  width: 100%;
  bottom: 30px;
}

/* Footer */

footer{
  width: 100%;
  text-align: center;
  padding: 60px 5% 30px 5%;
  box-sizing: border-box;
  font-size: 15px;
}
